html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #191970, black);
}


h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #6cd8ff;
  font-size: 70px;
  text-align: left;    
  margin-left: 18%;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 50px;
  text-align: left;    
  margin-left: 18%;
}


.icones {
  position:absolute; 
  top: 100px;
  right: 100px;
  font-size: 20px;  
  cursor: pointer;
  z-index: 1000; 
}
